*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #0A0E27F2 ; */
    font-family: Inter, sans-serif;
    letter-spacing: 1px;
}

/* navbar */
nav{
    width: 100%;
    padding: 1rem 5%;
    background: #0A0E27F2;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: solid 0.2px #00ffff82;    

}
.logo{
    font-size: 20px;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
    margin-right: auto;
}
span{
    color: #00FFFF;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.nav-links li a{
    position: relative;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
.nav-links li a:hover{
    color: white;
    text-shadow: 0 1px 10px #00FFFF;
}
.button{
    background: linear-gradient(-135deg, #00FFFF,#0099FF);
    color: transparent;
    color: #0A0E27F2;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 10px #00FFFF;
    transition: 0.3s;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;   
    margin-left: 50px;
}
.button:hover{
    color: #00FFFF;
    background: #0A0E27F2;
    box-shadow: white ;
}
/* content */
body{
    background:#0b0e29;
}
.line{
    height: 4px;
    width: 100px;
    background: linear-gradient(135deg,#00FFFF,#FF00FF);
    border-radius: 2px;
    margin: 20px auto 0 auto;
}
.boxx .box{
    width: 365.34px;
    height: 326.78px;
    border: solid 0.5px #00ffff82;
    margin:32px ;
    border-radius: 16px;
    background: linear-gradient(64deg,#1A1F3A,#0F1428)    
}
.boxx .box i{
    font-size: 40px;
    color: #00FFFF;
    margin: 20px 0 20px 0;

}
.boxx{
     display: flex;
     text-align: center;
     justify-content: space-evenly;
}
.boxx .box > .icons{
    width: 80px;
    height: 80px;
    background: linear-gradient(135deg,#00ffff34 ,#ff00ff35) ;
    border-radius:  50% ;
    margin: 20px auto;
   
}
.title{
    text-align: center;
    font-size:40px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}
.title3{
    color: white;
    font-weight: bold;
    font-size: 23.6px;
    margin-bottom: 20px;
}
.paragraphs{
    font-size: 15px;
    color: #B0B0B0;
}

/* footer */
footer{
    background: #0A0E27F2 ;
    width: 100%;
    height: 450px;
    border-top: solid 0.2px #00ffff82;
    
}
.footer-content{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction:row;
    margin: 40px;
    
}
.footer-section ul{
    list-style: none;
    text-align: left;
    
}
.footer-section a{
    text-decoration: none;
    color: #B0B0B0;
     line-height: 36px;
     font-size: 14.8px;
}
.footer-section p{
    text-align: left;
    color: #B0B0B0;
    font-size: 14.8px;
    line-height: 28.8px;
}
.footer-bottom{
    text-align: center;
    color: #B0B0B0;
    margin-bottom: 32px;
}
.footer-bottom p{
    font-size: 14.8px;
    margin-bottom: -32px;
    padding-top: 40px;
    border-top: solid 1px #00ffffa4;
}

h4{
    font-size: 16.9px;
    color: white;
    text-align: left;
}
.footer-section{
    margin: 64px 40px 0 40px;
    line-height: 40px;

}
footer .logo{
    text-align: left;
    margin-bottom: 10px;
}
.social-links i{
    font-size: 38px;
    color: #00FFFF;
    padding: 5px 5px;
    margin-left: 16px;
    cursor: pointer;
}
.footer-section2{
    text-align: left;
}
